.profile_button {
    display: flex;
    align-items: center;
    width: 8.125rem;
    height: 2.813rem;
    border: none;
    border-radius: 10px;
    background-color: var(--color-button, #471970);
    color: var(--color-rofile-button-text, #CA99FF);
    font-family: var(--main-fonts, "Roboto", sans-serif);
    font-size: var(--font-size-profile-bbutton, 1.563rem);
    cursor: pointer;
}

.profile_icon_avatar {
    margin: 7px 7px 7px 7px ;
}

/* .profile_text_button {

} */