.favorite_button {
  border: none;
  border-radius: 10px;
  background-color: var(--color-button, #471970);
  width: 3.438rem;
  height: 2.813rem;
  cursor: pointer;
}

.favorite_icon {
  align-items: center;
}
